# Testing files and folders
documents/
test_docs/
html/
testdoc.md
testdoc.html

# IDEA
.vim/

# Python cache
__pycache__/

*.egg-info
*.pyc
pyrightconfig.json # Just to point pyright to venv path

# Venv
.venv/

# Testing & tooling
/.tox
/.coverage
/.coverage
/.pytest_cache
/.mypy_cache
/htmlcov
