appdirs==1.4.4
attrs==20.3.0
autopep8==1.5.5
bleach==3.3.0
certifi==2021.5.30
cffi==1.14.5
cfgv==3.2.0
chardet==4.0.0
cli-test-helpers==1.0.1
colorama==0.4.4
coverage==5.4
cryptography==3.4.7
distlib==0.3.1
docutils==0.17.1
fancycompleter==0.9.1
filelock==3.0.12
identify==1.5.14
idna==2.10
importlib-metadata==4.5.0
iniconfig==1.1.1
jeepney==0.6.0
keyring==23.0.1
mistune==2.0.0rc1
mypy==0.902
mypy-extensions==0.4.3
nodeenv==1.5.0
notesystem==0.1.6
packaging==20.9
pdbpp==0.10.2
pkginfo==1.7.0
pluggy==0.13.1
pre-commit==2.10.1
py==1.10.0
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.9.0
pyparsing==2.4.7
pyrepl==0.9.0
pytest==6.2.2
PyYAML==5.4.1
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
rope==0.18.0
SecretStorage==3.3.1
six==1.15.0
termcolor==1.1.0
toml==0.10.2
tqdm==4.57.0
twine==3.4.1
typed-ast==1.4.2
types-termcolor==0.1.0
typing-extensions==3.7.4.3
urllib3==1.26.5
virtualenv==20.4.2
watchdog==2.0.1
webencodings==0.5.1
wmctrl==0.4
yaspin==1.4.0
zipp==3.4.1
